---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=jacksonville,%20fl&key=<GOOGLE_API>&origins=denver,%20co&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Jacksonville, FL, USA" ],
           "origin_addresses" : [ "Denver, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "1,749 mi",
                          "value" : 2814713
                       },
                       "duration" : {
                          "text" : "1 day 1 hour",
                          "value" : 91422
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 05:03:41 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=jacksonville,%20fl&key=<GOOGLE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Jacksonville",
                       "short_name" : "Jacksonville",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Duval County",
                       "short_name" : "Duval County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Jacksonville, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.586232,
                          "lng" : -81.316712
                       },
                       "southwest" : {
                          "lat" : 30.103748,
                          "lng" : -82.0495018
                       }
                    },
                    "location" : {
                       "lat" : 30.3321838,
                       "lng" : -81.65565099999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.586232,
                          "lng" : -81.316712
                       },
                       "southwest" : {
                          "lat" : 30.103748,
                          "lng" : -82.0495018
                       }
                    }
                 },
                 "place_id" : "ChIJ66_O8Ra35YgR4sf8ljh9zcQ",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 05:03:41 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=30.3321838&lon=-81.65565099999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.33,"lon":-81.66,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591765005,"sunrise":1591784657,"sunset":1591835300,"temp":77.65,"feels_like":81.19,"pressure":1017,"humidity":83,"dew_point":72.07,"uvi":12.42,"clouds":75,"visibility":14484,"wind_speed":9.17,"wind_deg":160,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1591765020,"precipitation":0},{"dt":1591765080,"precipitation":0},{"dt":1591765140,"precipitation":0},{"dt":1591765200,"precipitation":0},{"dt":1591765260,"precipitation":0},{"dt":1591765320,"precipitation":0},{"dt":1591765380,"precipitation":0},{"dt":1591765440,"precipitation":0},{"dt":1591765500,"precipitation":0},{"dt":1591765560,"precipitation":0},{"dt":1591765620,"precipitation":0},{"dt":1591765680,"precipitation":0},{"dt":1591765740,"precipitation":0},{"dt":1591765800,"precipitation":0},{"dt":1591765860,"precipitati[...]
