---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 02:36:42 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591756603,"sunrise":1591702307,"sunset":1591756027,"temp":59.88,"feels_like":54.01,"pressure":1014,"humidity":29,"dew_point":28.09,"uvi":11.27,"clouds":0,"wind_speed":3,"wind_deg":28,"wind_gust":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1591756620,"precipitation":0},{"dt":1591756680,"precipitation":0},{"dt":1591756740,"precipitation":0},{"dt":1591756800,"precipitation":0},{"dt":1591756860,"precipitation":0},{"dt":1591756920,"precipitation":0},{"dt":1591756980,"precipitation":0},{"dt":1591757040,"precipitation":0},{"dt":1591757100,"precipitation":0},{"dt":1591757160,"precipitation":0},{"dt":1591757220,"precipitation":0},{"dt":1591757280,"precipitation":0},{"dt":1591757340,"precipitation":0},{"dt":1591757400,"precipitation":0},{"dt":1591757460,"precipitati[...]
