---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cities?count=1&q=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 36884c5659ab744bdea220c048f1c118
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location_suggestions":[{"id":305,"name":"Denver, CO","country_id":216,"country_name":"United
        States","country_flag_url":"https:\/\/b.zmtcdn.com\/images\/countries\/flags\/country_216.png","should_experiment_with":0,"has_go_out_tab":0,"discovery_enabled":1,"has_new_ad_format":0,"is_state":0,"state_id":74,"state_name":"Colorado","state_code":"CO"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}'
  recorded_at: Mon, 08 Jun 2020 18:24:14 GMT
recorded_with: VCR 6.0.0
