---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=30.3321838&lon=-81.65565099999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.33,"lon":-81.66,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591756077,"sunrise":1591698259,"sunset":1591748875,"temp":78.4,"feels_like":83.88,"pressure":1016,"humidity":78,"dew_point":70.97,"uvi":12.42,"clouds":75,"visibility":16093,"wind_speed":4.7,"wind_deg":100,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1591756080,"precipitation":0},{"dt":1591756140,"precipitation":0},{"dt":1591756200,"precipitation":0},{"dt":1591756260,"precipitation":0},{"dt":1591756320,"precipitation":0},{"dt":1591756380,"precipitation":0},{"dt":1591756440,"precipitation":0},{"dt":1591756500,"precipitation":0},{"dt":1591756560,"precipitation":0},{"dt":1591756620,"precipitation":0},{"dt":1591756680,"precipitation":0},{"dt":1591756740,"precipitation":0},{"dt":1591756800,"precipitation":0},{"dt":1591756860,"precipitation":0},{"dt":1591756920,"precipitati[...]
