---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bc783e32d81272ca01e5b8b4d0961632&lat=30.3321838&lon=-81.65565099999999&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.33,"lon":-81.66,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1591507339,"sunrise":1591525466,"sunset":1591576024,"temp":74.05,"feels_like":76.01,"pressure":1015,"humidity":88,"dew_point":70.27,"uvi":12.23,"clouds":90,"visibility":16093,"wind_speed":10.29,"wind_deg":90,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.83}},"minutely":[{"dt":1591507380,"precipitation":0.928},{"dt":1591507440,"precipitation":0.928},{"dt":1591507500,"precipitation":0.805},{"dt":1591507560,"precipitation":0.798},{"dt":1591507620,"precipitation":0.798},{"dt":1591507680,"precipitation":0.798},{"dt":1591507740,"precipitation":0.7},{"dt":1591507800,"precipitation":0.7},{"dt":1591507860,"precipitation":0.7},{"dt":1591507920,"precipitation":0.7},{"dt":1591507980,"precipitation":0.566},{"dt":1591508040,"precipitation":0.478},{"dt":1591508100,"precipitation":0.478},{"dt":1591508160,"pre[...]
