---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=denver,%20co&key=<GOOGLE_API>&origins=washington,%20dc&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Washington, DC
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Denver, CO, USA" ],
           "origin_addresses" : [ "Washington, DC, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "1,659 mi",
                          "value" : 2670118
                       },
                       "duration" : {
                          "text" : "1 day 1 hour",
                          "value" : 90025
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 02:26:55 GMT
recorded_with: VCR 6.0.0
