---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=pueblo,%20co&key=<GOOGLE_API>&origins=denver,%20co&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "Pueblo, CO, USA" ],
           "origin_addresses" : [ "Denver, CO, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "112 mi",
                          "value" : 180799
                       },
                       "duration" : {
                          "text" : "1 hour 48 mins",
                          "value" : 6480
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 06:30:54 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=pueblo,%20co&key=<GOOGLE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Pueblo",
                       "short_name" : "Pueblo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Pueblo County",
                       "short_name" : "Pueblo County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Pueblo, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    },
                    "location" : {
                       "lat" : 38.2544472,
                       "lng" : -104.6091409
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.345385,
                          "lng" : -104.460868
                       },
                       "southwest" : {
                          "lat" : 38.1891058,
                          "lng" : -104.7208689
                       }
                    }
                 },
                 "place_id" : "ChIJZbEbB_OiE4cRLrjHaKNrLag",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 06:30:54 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=38.2544472&lon=-104.6091409&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.25,"lon":-104.61,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591770321,"sunrise":1591788885,"sunset":1591842089,"temp":58.44,"feels_like":51.6,"pressure":1021,"humidity":36,"dew_point":31.68,"uvi":11.1,"clouds":1,"visibility":16093,"wind_speed":5.7,"wind_deg":302,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1591770360,"precipitation":0},{"dt":1591770420,"precipitation":0},{"dt":1591770480,"precipitation":0},{"dt":1591770540,"precipitation":0},{"dt":1591770600,"precipitation":0},{"dt":1591770660,"precipitation":0},{"dt":1591770720,"precipitation":0},{"dt":1591770780,"precipitation":0},{"dt":1591770840,"precipitation":0},{"dt":1591770900,"precipitation":0},{"dt":1591770960,"precipitation":0},{"dt":1591771020,"precipitation":0},{"dt":1591771080,"precipitation":0},{"dt":1591771140,"precipitation":0},{"dt":1591771200,"precipitati[...]
[...]
